body{
    background-color:lightblue;
}
h1
{
    color: blueviolet;
    font-size:40px;
    font-family: arial;
}
.jumbotron
{
    margin-top:30px;;
    background-color:rgb(221, 180, 221);
    color:darkblue;
}